.cursor/
.env
.idea/
.mypy_cache/
.pytest_cache/
.python-version
.pytype/
.ruff_cache/
.venv/
.vscode/
*.egg-info/
*.exe
*.out
*.pyo
*.py[cod]
*.test
*.tsbuildinfo
__pycache__/
build/
dist/
env/
examples/go/example
node_modules/
pip-wheel-metadata/
venv/
